<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/admin_home.css" />
  </head>
  <body>
    <nav>
      <div class="top">
        <ul style="margin-top: 20px">
          <li id="drop">
            Registration
            <img src="../static/images/icon-arrow-down.svg" alt="" id="img1" />
            <ul class="dropdown" id="drp">
              <li class="d1"><a href="admin_registration">Admin</a></li>
              <li class="d1"><a href="teacher_registration">Faculty</a></li>
              <li class="d1"><a href="student_registration">Student</a></li>
            </ul>
          </li>
          <li><a href="#heading">About College</a></li>
        </ul>
      </div>
      <div class="bottom top">
        <ul style="margin-bottom: 20px">
          <li><a href="#profiles">Profiles</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="title">IIIT Lucknow</div>
      <div class="iiitl">
        <img src="../static/images/iiitl3.jpg" alt="" />
      </div>
      <div class="txt">
        Indian Institute of Information Technology, Lucknow (IIIT Lucknow) is
        one of the 20 IIITs being set up by the Central Government in Public
        Private Partnership (PPP) mode. IIIT Lucknow currently offers all the
        amenities, academic and non-academic to its students that can help them
        flourish and serve the nation with all their apprehension in the various
        fields of technology. The admission is made through central counselling
        of candidates who qualify in JEE (Mains). Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Delectus voluptatibus porro velit quo
        voluptatum dolores accusamus, maiores dolore, vero corrupti modi nisi
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore totam
        atque nesciunt modi, sint nemo exercitationem voluptates impedit esse
        placeat.
      </div>
      <br />
      <br />
      <div class="abt txt" id="heading">
        <p class="heading">About College</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ratione
        maiores. Consequatur eius eos nulla officiis sed perferendis inventore
        alias, architecto assumenda quos fuga pariatur ex quo dicta tempore
        vitae unde eligendi quam asperiores sit totam excepturi? Quidem
        voluptates officia numquam provident maxime quia voluptatibus fugiat
        recusandae nisi incidunt. Tempore, optio tempora veritatis facilis
        provident voluptatem, adipisci hic inventore earum ipsa deleniti
        voluptate vel suscipit laboriosam dolore, fuga nihil eaque?
      </div>
      <br /><br />
      <div class="profiles txt" id="profiles">
        <p class="heading">Faculty Profiles</p>
        <div class="sq">
          <div class="f1">
            <img src="../static/images/user.png" alt="" />
            <br />
            Faculty 1
          </div>
          <div class="f1">
            <img src="../static/images/user.png" alt="" />
            <br />
            Faculty 2
          </div>
          <div class="f1">
            <img src="../static/images/user.png" alt="" />
            <br />
            Faculty 3
          </div>
        </div>
        <div class="sq">
          <div class="f1">
            <img src="../static/images/user.png" alt="" />
            <br />
            Faculty 4
          </div>
          <div class="f1">
            <img src="../static/images/user.png" alt="" />
            <br />
            Faculty 5
          </div>
          <div class="f1">
            <img src="../static/images/user.png" alt="" />
            <br />
            Faculty 6
          </div>
        </div>
        <div class="sq">
          <div class="f1">
            <img src="../static/images/user.png" alt="" />
            <br />
            Faculty 7
          </div>
          <div class="f1">
            <img src="../static/images/user.png" alt="" />
            <br />
            Faculty 8
          </div>
          <div class="f1">
            <img src="../static/images/user.png" alt="" />
            <br />
            Faculty 9
          </div>
        </div>
      </div>
    </main>
    <script>
      const drp = document.getElementById("drp");
      const drp1 = document.getElementById("drop");
      let img = document.getElementById("img1");
      console.log(drp);
      drp1.addEventListener("click", () => {
        let st = drp.style;
        if (st.display == "none") {
          st.display = "block";
          img.src = "../static/images/icon-arrow-up.svg";
        } else {
          st.display = "none";
          img.src = "../static/images/icon-arrow-down.svg";
        }
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
