<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{user.upper()}} LOGIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/admin_login.css" />
  </head>

  <body>
    <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
        <div
          class="wave waveTop"
          style="
            background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png');
          "
        ></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
        <div
          class="wave waveMiddle"
          style="
            background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
          "
        ></div>
      </div>
      <div class="waveWrapperInner bgBottom">
        <div
          class="wave waveBottom"
          style="
            background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
          "
        ></div>
      </div>
    </div>
    <div class="formmain">
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <div class="title">
            <h1>{{user.upper()}} LOGIN</h1>
            <hr />
          </div>
          <!-- Icon -->
          <div class="fadeIn first"></div>

          <!-- Login Form -->
          <form method="post">
            <input
              type="text"
              id="login"
              class="fadeIn second"
              name="email"
              autocomplete="on"
              placeholder="Email"
              required
            />
            <input
              id="password"
              class="fadeIn third"
              type="password"
              name="password"
              placeholder="Password"
              required
            />
            <input
              type="submit"
              class="fadeIn fourth"
              name="submit"
              value="LOGIN"
            />
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
