<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IIITL | A Portal for Admin, Faculty and Student</title>
    <link rel="stylesheet" href="../static/home.css" />
    <link
      rel="shortcut icon"
      href="../static/images/logo1.png"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="waveWrapper waveAnimation" style="margin-top: -1px">
      <div class="waveWrapperInner bgTop">
        <div
          class="wave waveTop"
          style="
            background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png');
          "
        ></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
        <div
          class="wave waveMiddle"
          style="
            background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
          "
        ></div>
      </div>
      <div class="waveWrapperInner bgBottom">
        <div
          class="wave waveBottom"
          style="
            background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
          "
        ></div>
      </div>
    </div>
    <div class="container">
      <div class="circle">
        <img class="icon" src="../static/images/admin.png" />
        <div class="bottom">
          <button
            onclick="location.href = '/login/admin';"
            class="btn glow-on-hover"
            id="submit-btn1"
            name="submit"
            value="ADMIN LOGIN"
          >
            <a href="/login/admin">ADMIN LOGIN </a>
          </button>
        </div>
      </div>
      <div class="circle">
        <img class="icon" src="../static/images/teacher.png" />
        <div class="bottom">
          <button
            onclick="location.href = '/login/teacher';"
            class="btn glow-on-hover"
            id="submit-btn1"
            name="submit"
            value="TEACHER LOGIN"
          >
            <a href="/login/teacher">TEACHER LOGIN</a>
          </button>
        </div>
      </div>
      <div class="circle">
        <img class="icon" src="../static/images/student.png" />
        <div class="bottom">
          <button
            onclick="location.href = '/login/student';"
            class="btn glow-on-hover"
            id="submit-btn1"
            name="submit"
            value="STUDENT LOGIN"
          >
            <a href="/login/student">STUDENT LOGIN</a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
