<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/home.css">
</head>

<body>
<div class="initial">
    <div class="circle">
        <img class="icon" src="../static/user.png">
        <button onclick="location.href = '/login/admin';" id="submit-btn1" name="submit" value=" ADMIN LOGIN" >ADMIN LOGIN
        <a href="/login/admin"></a>
    </div>
    <div class="circle">
        <img class="icon" src="../static/user.png">
        <button onclick="location.href = '/login/faculty';" id="submit-btn1" name="submit" value="FACULTY LOGIN" >FACULTY LOGIN
        <a href="/login/admin"></a>
    </div>
    <div class="circle">
        <img class="icon" src="../static/user.png">
        <input id="submit-btn1" type="submit" name="submit" value="STUDENT LOGIN" />
        <a href="/login/admin"></a>
    </div>
</div>
</body>

</html>