<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student-Sheet</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="/static/sheet.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
</head>

<body>
  <!-- {% set left = 0 %} {% set right = 5 %} -->
  <nav>
    <div class="top">
      <ul style="margin-top: 20px">
        <li>Assignments</li>
        <li><a href="./1">Mid Semester</a></li>
        <li><a href="./2">End Semester</a></li>
      </ul>
    </div>
    <div class="bottom top">
      <ul style="margin-bottom: 20px">
        <li>Student profiles</li>
        <li><a href="/logout">Logout</a><li>
      </ul>
    </div>
  </nav>
  <main>
    <div class="aux">
      <div style="margin: 15px;">
        <img id="add_ass" class="add" src="/static/images/additionaladd.png"
          width="69px" alt="" />
      </div>
    </div>
    <form action="" method="post">
      <div class="popup cont1">
        <!-- <form class="cont1" method="post" name="addassi"> -->
          <div class="cros"><img src="../static/images/cross.png" alt=""></div>
          <!-- <label for="assignment">Assignment name</label> -->
          <input type="text" name="newassi" id="cont1input1" class="drop" placeholder="Assignment name" />
          <!-- <label for="assignment">Maximum Number</label> -->
          <input type="number" name="maxnum" id="dropval" class="drop" placeholder="Maximum Number" min="1"/>
          <button name="subtype" value="addassi" value="Submit" class="btn btn-info">Submit</buton>
        <!-- </form> -->
      </div>
      <div class="mainbody2">
        <div class="div1">
          <div class="rows">
            <div class="cells">
              <h3>Roll No.</h3>
            </div>
            <div class="cellsn">
              <h3>Names</h3>
            </div>
          </div>

          {% for student in students %}
          <div class="rows">
            <div class="cells">
              {{student.sroll}}
            </div>
            <div class="cellsn">
              {{student.sfname}} {{student.slname}}
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="div2">
          <div class="div2i">
            <div class="rows">
              {% for ass in asss %} 
              <div class="cells" id="cell1" style="flex-direction: column;">
                <div class="top">
                  <button type="button" style="border: none; background-color: white; margin-top: 3px;">
                    <img class="close1" id="edit_ass" src="/static/images/edit.png" alt=""
                    style="border: none" width="20px" onclick="validateMyForm(event);"/>
                  </button>
                  <span style="color: white;">max</span>
                  <!-- <span style="color: rgb(0, 185, 46); font-weight: bolder;">{{ass.maxnum}}</span> -->
                  <div class="btndiv" style="border: none; z-index: 100;">
                    <button style="border: none; background-color: white; height: 21px;" type="submit" name="subtype" value="removeassi/{{ass.id}}" onclick="validateMyForm(event);">
                      <img class="close2"
                        src="/static/images/cross.png" alt="" style="background-color: white;"

                        width="20px" />
                    </button>
                  </div>
                </div>
                <div class="btm"><h4>{{ass.assi}} <span style="color: rgb(0, 185, 46); font-weight: bolder; font-size: small;">[{{ass.maxnum}}]</span></h4></div>
              </div>
              {% endfor %}
            </div>
            {% for student in students %}
            <div class="rows" name="{{ass}}">
              {% for ass in asss %}
              {% set mid = ass.assi+'-'+student.sroll|string %}
              <input class="cells" type="text" name="{{mid}}" value="{{marksdict[mid]}}" max="{{ass.maxnum}}" min="-1" oninput="checkValue(this)" />
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="div3">
          <div class="rows">

            <div class="cells" style="margin-left: auto">
              <h4>TOTAL</h4>
            </div>
            <div class="cells" style="margin-left: auto">
              <h4>CGPA</h4>
            </div>
          </div>
            {% for student in students %}
          
          <div class="rows">
            <div class="cells">
              <h5>{{total[student.sroll]}}</h5>
            </div>
            <div class="cells">
              <h5>{{cgpa[student.sroll]}}</h5>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <button id="err" type="submit" name="subtype" value="submit" style="border: 0px;" class="btn btn-success" onclick="validateMyForm(event);">Submit</button>
    </form>
  </main>
  <script>
    var errors=0;
    const left = document.querySelector(".left");
    const right = document.querySelector(".right");
    const cell_block = document.querySelector("#cell2");
    const cells = document.querySelector("#cell1");
    // right.addEventListener("onclick", () => {
    //   console.log("lk");
    //   cells.style.display = "none";
    //   cell_block.style.display = "flex";
    // });
    const ass = document.getElementById("add_ass");
    const pop = document.querySelector(".cont1");
    const input1 = document.getElementById("dropval");
    ass.onclick = () => {
      if(pop.style.display == "none"){
        pop.style.display = "flex";
        input1.required =true
      }
      else{
        pop.style.display = "none";
        input1.required =false
      }
    };
    const place1 = document.getElementById("cont1input1");
    const place2 = document.getElementById("dropval");
    const editass = document.getElementById("edit_ass");
    const epopup = document.querySelector(".cont1");
    editass.onclick = () => {
      if(epopup.style.display == "none") {
        epopup.style.display = "flex";
        place1.placeholder = "Edit assignment name";
        place2.placeholder = "Edit maximum marks";
      }
      else{
        epopup.style.display = "none";
        place1.placeholder = "Assignment name";
        place2.placeholder = "Maximum marks";}
    };


    function int(value) {
    return parseInt(value);
    }
    
    function checkValue(sender) {
        let max = sender.max;
        max=int(max);
        let value1=sender.value;
        let class1 = sender.class;
        if (isNaN(value1)){
          if(value1=='A'|value1=='a'){
            if(sender.className=='cellserror')
              errors--;
            sender.className='cells';
            sender.value='A';
          }
          else{  
            if(sender.className=='cells')
            errors++;
            sender.className='cellserror';
          }
        }
        else{
          let value1 = int(sender.value);
          if(value1>max | value1<0){
            if(sender.className=='cells')
              errors++;
            sender.className='cellserror';

          }
          else{
            if(sender.className=='cellserror')
              errors--;
            sender.className='cells';
          }
        }
      console.log(errors)
    }

    function validateMyForm(event)
    {

      // alert("Error="+errors)
      // console.log('hi');
      if(errors!=0){ 
        alert("Invalid marks");
        event.preventDefault()
        // preve
        return false;
      }

      // alert("validations passed");
      return true;
    }

    // const err = document.getElementById(err);
    // err.addEventListener('onclick', () => {
    //   if (err != 0) alert('cuhutuia')
    // })
  </script>
</body>

</html>