<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Registration</title>
    <link rel="stylesheet" href="../static/student_registration.css" />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <img class="img1" src="../static/images/logo.png" alt="" />
        <img class="img2" src="../static/images/student2.png" alt="" />
        <p>Welcome, dear student</p>
      </div>
      <div class="right">
        <div class="options">
          <div class="op1">Faculty</div>
          <div class="op1">Student</div>
        </div>
        <form name="myform" onsubmit="" method="post">
          <div class="reg">
            <img class="img3" src="../static/images/user1.png" alt="" />
            <p style="margin-left: 10px">Register</p>
          </div>
          <div class="main_form">
            <div class="name">
              <input type="text" name="sfname" placeholder="First Name" />
              <input type="text" name="slname" placeholder="Last Name" />
            </div>
            <div class="dropdown">
              <select name="sbranch">
                <option value="">Branch</option>
                <option value="CSAI">CSAI</option>
                <option value="IT">IT</option>
                <option value="CS">CS</option>
                <option value="CSB">CSB</option>
              </select>
            </div>
            <div class="info">
              <input type="text" name="syear" placeholder="Enrollment year" />
              <input type="text" name="sdob" placeholder="Date of Birth" />
            </div>
          </div>
          <div class="btn">Register</div>
        </form>
      </div>
    </div>
  </body>
</html>
