<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Student home</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/Student_Home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="shortcut icon"
      href="../static/images/logo1.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <style>
      .disFun {
        pointer-events: none;
        opacity: 0.8;
      }
    </style>
  </head>

  <body class="">
    <div class="container-scroller" style="margin-top: -6.5vh">
      {% include 'navBars/studentNav.html' %}
      <div class="container-fluid page-body-wrapper pt-0">
        {% include 'sideBars/studentSide.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">
                      Welcome {{ cu.sfname }} {{ cu.slname }}
                    </h3>
                  </div>
                  <div class="col-12 col-xl-4">
                    <div class="justify-content-end d-flex">
                      <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                        <button
                          class="btn btn-sm btn-light bg-white dropdown-toggle"
                          type="button"
                          id="dropdownMenuDate2"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="true"
                        >
                          <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
                        </button>
                        <div
                          class="dropdown-menu dropdown-menu-right"
                          aria-labelledby="dropdownMenuDate2"
                        >
                          <a class="dropdown-item" href="#">January - March</a>
                          <a class="dropdown-item" href="#">March - June</a>
                          <a class="dropdown-item" href="#">June - August</a>
                          <a class="dropdown-item" href="#"
                            >August - November</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card tale-bg">
                  <div class="card-people mt-auto">
                    <img src="../static/images/people.svg" alt="people" />
                    <div class="weather-info">
                      <div class="d-flex">
                        <div>
                          <h2 class="mb-0 font-weight-normal temperature"></h2>
                        </div>
                        <div class="ms-2">
                          <h4 class="location font-weight-normal cityName"></h4>
                          <h6 class="font-weight-normal desc"></h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-5 grid-margin stretch-card"
                  style="margin-left: 7vh; width: 80vh"
                >
                  <div class="card">
                    <div class="card-body">
                      <div class="card100">
                        <div class="img">
                          <img src="../static/images/user.png" />
                        </div>
                        <div class="infos">
                          <div class="name">
                            <h2>{{ cu.sfname }} {{ cu.slname }}</h2>
                            <h4>{{ cu.role[0]|upper }}{{ cu.role[1:] }}</h4>
                          </div>
                          <p class="text">Email: {{ cu.semail }}</p>
                          <p class="text">Roll No: {{ cu.sroll }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted text-center text-sm-left d-block d-sm-inline-block"
                >© 2022 IIIT Lucknow</span
              >
            </div>
          </footer>
        </div>
      </div>
    </div>

    <script src="../static/JS/vendor.bundle.base.js"></script>
    <script src="../static/JS/hoverable-collapse.js"></script>
    <script src="../static/JS/template.js"></script>
    <script src="../static/JS/settings.js"></script>
    <script src="../static/JS/todolist.js"></script>
    <script src="../static/JS/weatherApi.js"></script>
  </body>
</html>
