<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculty Registration</title>
    <link rel="stylesheet" href="../static/teacher_registration.css" />
    <link
      rel="shortcut icon"
      href="/static/images/logo1.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <a href="admin-home">
          <img id="back1" class="img1" src="../static/images/back.png" alt="" />
        </a>
        <div id="back2" class="txt3">Go back</div>
        <img class="img2" src="../static/images/teacher1.png" alt="Faculty" />
        <p class="wlc">Welcome, dear faculty</p>
      </div>
      <div class="right">
        <div class="options">
          <a href="teacher_registration"><div class="op1">Faculty</div></a>
          <a href="student_registration"><div class="op1">Student</div></a>
        </div>
        <form name="myform" onsubmit="" method="post">
          <div class="reg">
            <img class="img3" src="../static/images/user1.png" alt="" />
            <p style="margin-left: 10px">Register</p>
          </div>
          <div class="main_form">
            <div class="name">
              <input type="text" name="tfname" placeholder="First Name" />
              <input type="text" name="tlname" placeholder="Last Name" />
            </div>
            <!-- <div class="dropdown">
              <select name="tsub">
                <option value="">Subject</option>
                <option value="CSAI">DBMS</option>
                <option value="IT">OOPs</option>
                <option value="CS">DSA</option>
                <option value="CSB">Iot</option>
              </select>
            </div> -->
            <div class="info">
              <input type="date" name="tdob" placeholder="Date of Birth" />
            </div>
          </div>
          <button type="submit" class="btn">Register</button>
        </form>
      </div>
    </div>
    <script>
      const img = document.getElementById("back1");
      const back2 = document.getElementById("back2");
      img.addEventListener("mouseover", () => {
        let st = back2.style;
        st.display = "block";
      });
      img.addEventListener("mouseout", () => {
        let st = back2.style;
        st.display = "none";
      });
    </script>
  </body>
</html>
