<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>IIITL Faculty</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/teacher_input.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <style>
      .disFun {
        pointer-events: none;
        opacity: 0.8;
      }
    </style>
  </head>

  <body class="">
    <div class="container-scroller" style="margin-top: -6.5vh">
      {% include 'navBars/teacherNav.html' %}
      <div class="container-fluid page-body-wrapper pt-0">
        {% include 'sideBars/teacherSide.html' %}
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Welcome Faculty</h3>
                  </div>
                  <div class="col-12 col-xl-4">
                    <div class="justify-content-end d-flex">
                      <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                        <button
                          class="btn btn-sm btn-light bg-white dropdown-toggle"
                          type="button"
                          id="dropdownMenuDate2"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="true"
                        >
                          <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
                        </button>
                        <div
                          class="dropdown-menu dropdown-menu-right"
                          aria-labelledby="dropdownMenuDate2"
                        >
                          <a class="dropdown-item" href="#">January - March</a>
                          <a class="dropdown-item" href="#">March - June</a>
                          <a class="dropdown-item" href="#">June - August</a>
                          <a class="dropdown-item" href="#"
                            >August - November</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card tale-bg">
                  <div class="card-people mt-auto">
                    <img src="../static/images/people.svg" alt="people" />
                    <div class="weather-info">
                      <div class="d-flex">
                        <div>
                          <h2 class="mb-0 font-weight-normal">
                            <i class="icon-sun me-2"></i>31<sup>C</sup>
                          </h2>
                        </div>
                        <div class="ms-2">
                          <h4 class="location font-weight-normal">Lucknow</h4>
                          <h6 class="font-weight-normal">Ahmamau</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-md-5 grid-margin stretch-card"
                style="margin-left: 7vh"
              >
                <div class="card">
                  <div class="card-body">
                    <form class="cont1" method="post">
                      {{ form1.csrf_token }} {{ form1.year(class='drop')}} {{
                      form1.course(class='drop')}} {{
                      form1.subject(class='drop')}} {{ form1.sem(class='drop')}}
                      <input type="submit" value="Submit" class="submitid" />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <footer class="footer">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted text-center text-sm-left d-block d-sm-inline-block"
                >© 2022 IIIT Lucknow</span
              >
            </div>
          </footer>
        </div>
      </div>
    </div>

    <script src="../static/JS/vendor.bundle.base.js"></script>
    <script src="../static/JS/hoverable-collapse.js"></script>
    <script src="../static/JS/template.js"></script>
    <script src="../static/JS/settings.js"></script>
    <script src="../static/JS/todolist.js"></script>
    <script>
      let year_sel = document.getElementById("year");

      let temp =
        '<option value="" disabled selected>Select the year</option>' +
        year_sel.innerHTML;
      year_sel.innerHTML = temp;
      let course_sel = document.getElementById("course");
      course_sel.innerHTML =
        '<option value="" disabled selected>Select the course</option>';
      let subject_sel = document.getElementById("subject");
      subject_sel.innerHTML =
        '<option value="" disabled selected>Select the subject</option>';
      let sem_sel = document.getElementById("sem");
      sem_sel.innerHTML =
        '<option value="" disabled selected>Select the semester</option>';

      year_sel.onchange = function () {
        year = year_sel.value;
        fetch("form/year/" + year).then(function (response) {
          response.json().then(function (data) {
            let options =
              '<option value="" disabled selected>Select The Course</option>';
            for (let course of data.courses) {
              options +=
                '<option value="' +
                course.id +
                '">' +
                course.course +
                "</option>";
            }
            course_sel.innerHTML = options;
          });
        });
      };
      course_sel.onchange = function () {
        course = course_sel.value;
        fetch("form/course/" + course).then(function (response) {
          response.json().then(function (data) {
            let options =
              '<option value="" disabled selected>Select the Subject</option>';
            for (let subject of data.subjects) {
              options +=
                '<option value="' +
                subject.id +
                '">' +
                subject.subject +
                "</option>";
            }
            subject_sel.innerHTML = options;
          });
        });
      };
      subject_sel.onchange = function () {
        subject = subject_sel.value;
        fetch("form/subject/" + subject).then(function (response) {
          response.json().then(function (data) {
            let options =
              '<option value="" disabled selected>Select The Semester</option>';
            for (let sem of data.sems) {
              options +=
                '<option value="' + sem.id + '">' + sem.sem + "</option>";
            }
            sem_sel.innerHTML = options;
          });
        });
      };
      const hov = document.getElementById("n");
      const hov2 = document.querySelector("#hov2");
      hov.onmouseover = () => {
        let st = hov2.style;
        if (st.display == "none") {
          st.display = "flex";
        }
      };
      hov.onmouseout = () => {
        let st = hov2.style;
        if (st.display == "flex") {
          st.display = "none";
        }
      };
    </script>
  </body>
</html>
