<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Flask-WTF</title>
    <style>
        .drop{
            color: blue;
            border: 2px solid red;
        }
    </style>
</head>
<body>
    <form action="" method="post">

        {{ form1.csrf_token }}
        {{ form1.year(class='drop')}}
        {{ form1.course(class='drop')}}
        {{ form1.subject(class='drop')}}
        {{ form1.sem(class='drop')}}
        <button type="submit">Submit</button>
    </form>

    <script>
        let year_sel=document.getElementById('year');
        
        let temp='<option value="" disabled selected>Select The Year</option>'+year_sel.innerHTML;
        year_sel.innerHTML=temp;
        let course_sel=document.getElementById('course');
        let subject_sel=document.getElementById('subject');
        let sem_sel=document.getElementById('sem');

        year_sel.onchange=function(){
            year=year_sel.value;
            // alert(year);
            fetch('form/year/'+year).then(function(response){
                response.json().then(function(data){
                    let options='<option value="" disabled selected>Select The Course</option>';
                    // console.table(data);  
                    for(let course of data.courses){
                        options+='<option value="'+course.id+'">'+course.course+'</option>';
                    }
                    course_sel.innerHTML=options;
                })
            });
        }
        course_sel.onchange=function(){
            course=course_sel.value;
            // alert(course);
            fetch('form/course/'+course).then(function(response){
                response.json().then(function(data){
                    let options='<option value="" disabled selected>Select the Subject</option>';
                    // console.table(data);  
                    for(let subject of data.subjects){
                        options+='<option value="'+subject.id+'">'+subject.subject+'</option>';
                    }
                    subject_sel.innerHTML=options;
                })
            });
        }
        subject_sel.onchange=function(){
            subject=subject_sel.value;
            // alert(year);
            fetch('form/subject/'+subject).then(function(response){
                response.json().then(function(data){
                    let options='<option value="" disabled selected>Select The Sems</option>';
                    // console.table(data);  
                    for(let sem of data.sems){
                        options+='<option value="'+sem.id+'">'+sem.sem+'</option>';
                    }
                    sem_sel.innerHTML=options;
                })
            });
        }
    </script>

</body>
</html>