@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

main {
  /* height: 97.8vh; */
  background: linear-gradient(269deg, #d9886a, #6ad9b3, #c56ad9, #d2d96a);
  background-size: 800% 800%;
  -webkit-animation: bg_grad 47s ease infinite;
  -moz-animation: bg_grad 47s ease infinite;
  animation: bg_grad 47s ease infinite;
  background-image: url('https://wallpaperaccess.com/full/2750058.jpg');
  background-size:auto;
  background-position: center;
  background-attachment: fixed;
}
/* 
@-webkit-keyframes bg_grad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes bg_grad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg_grad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  color: rgb(255, 255, 255);
  font-weight: bolder ;
  font-family: "Roboto Mono", monospace;
}

nav {
  background-color: rgb(152, 148, 148);
  color: white;
  position: fixed;
  height: 100%;
  width: 30vh;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top {
  width: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  width: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul li {
  width: 25vh;
  padding: 2vh 0vh;
  margin-left: -6vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li:hover {
  cursor: pointer;
  color: white;
  border-radius: 12px;
  background: linear-gradient(269deg, #d9886a, #6ad9b3, #c56ad9, #d2d96a);
  background-size: 800% 800%;
  -webkit-animation: bg_grad 47s ease infinite;
  -moz-animation: bg_grad 47s ease infinite;
  animation: bg_grad 47s ease infinite;
}

a {
  text-decoration: none;
  color: white;
  width: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: white;
}

#drp {
  display: none;
}

.dropdown {
  margin-left: 26px;
  margin-top: 20px;
}

main {
  /* background-color: rgb(237, 91, 91); */
  /* height: 200vh; */
  width: 180vh;
  margin-left: 30vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
  font-size: 50px;
}

.iiitl {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}

.iiitl img {
  width: 70vh;
  height: 40vh;
}

.txt {
  width: 60%;
}

.sq {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.sq img {
  width: 30vh;
  padding: 0px 30px;
}

.f1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
