.top {
  /* width: 30vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #27273c; */
}

.title {
  padding-top: 96px;
}

.mainbody {
  display: flex;
  flex-direction: column;
  width: auto;
  /* z-index: -10; */
  /* overflow-x: scroll;
    overflow-y: scroll; */
}

h3 {
  /* background-color: #420d3e; */
  padding: 9.6px;
  padding-left: 29.6px;
  padding-right: 29.6px;
  /* color: white; */
  border-radius: 9.6px;
}

input {
  text-align: right;
}

form.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 696px;
  height: 350px;
  /* margin-right: 15vh; */
  padding: 10%;
  margin: auto;
  margin-top: 15vh;
  /* background-color: aqua; */
}

.input-group {
  padding: 2px;
}

.input-group-btn {
  padding-top: 8px;
  color: #4d0847;
  font-weight: 696;
}

input[type="number"]::placeholder {
  text-align: right;
}

.btn {
  margin-top: 60px;
  /* height: 169px; */
  background: #00a82d;
  /* background-image: linear-gradient(to bottom, #00eb3f, #00a308); */
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  color: #ffffff;
  background: #02ad2d;
  background-image: linear-gradient(to bottom, #00ca33, #12b300);
  text-decoration: none;
}

form.upload {
  display: flex;
  /* background-color: bisque; */
  width: 30vh;
  margin-left: 2vh;
  justify-content: right;
}

.upperlimit{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
  background-color: #ced4da;
  border: 1px solid #ced4da;
  margin: 0 20px 0 20px;
}

.rangeerror{
  color: rgb(245, 6, 6);

}