@import url("https://fonts.googleapis.com/css?family=Raleway:200");

main {
  /* height: 97.8vh; */
  /* background: linear-gradient(269deg, #d9886a, #6ad9b3, #c56ad9, #d2d96a); */
  background-size: 800% 800%;
  min-height: calc(100vh);
  -webkit-animation: bg_grad 47s ease infinite;
  -moz-animation: bg_grad 47s ease infinite;
  animation: bg_grad 47s ease infinite;
  /* background-image: url("https://miro.medium.com/max/1400/1*dP81IJq-tGFxy1rIK3RYsg.png"); */
  /* background-repeat: none; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  display: flex;
  color: rgb(34, 34, 34);
  /* font-family: "Roboto Mono", monospace; */
  margin: 0;
}

nav {
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
  color: rgb(219, 219, 219);
  position: fixed;
  height: 100%;
  width: 30vh;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top {
  /* width: 30vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #27273c; */
}

ul {
  list-style-type: none;
  width: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul li {
  width: 25vh;
  padding: 2vh 0vh;
  margin-left: -6vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li:hover {
  cursor: pointer;
  color: white;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: rgb(200, 190, 190);
  width: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: white;
}

.title {
  padding-top: 96px;
}

main {
  background-color: rgb(250, 250, 250);
  width: 100%;
  /* height: 100vh; */
  margin-left: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
}

.mainbody {
  display: flex;
  flex-direction: column;
  width: auto;
  /* z-index: -10; */
  /* overflow-x: scroll;
    overflow-y: scroll; */
}
h3 
{
    /* background-color: #420d3e; */
    padding: 9.6px;
    padding-left: 29.6px;
    padding-right: 29.6px;
    /* color: white; */
    border-radius: 9.6px;
}

input { 
    text-align: right; 
}

form.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 696px;
  height: 350px;
  /* margin-right: 15vh; */
  padding: 10%;
  margin: auto;
  margin-top: 15vh;
  /* background-color: aqua; */
}

.input-group {
  padding: 2px;
}

.input-group-btn {
  padding-top: 8px;
  color: #4d0847;
  font-weight: 696;
}

input[type="number"]::placeholder 
{
                 
    text-align: right;
}

.btn {
  margin-top: 60px;
  /* height: 169px; */
  background: #00a82d;
  /* background-image: linear-gradient(to bottom, #00eb3f, #00a308); */
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  color: #ffffff;
  background: #02ad2d;
  background-image: linear-gradient(to bottom, #00ca33, #12b300);
  text-decoration: none;
}

form.upload{    
  display: flex;
  /* background-color: bisque; */
  width: 30vh;
  margin-left: 2vh;
  justify-content: right;
}