@import url("https://fonts.googleapis.com/css?family=Raleway:200");

main {
  /* height: 97.8vh; */
  background: linear-gradient(269deg, #d9886a, #6ad9b3, #c56ad9, #d2d96a);
  background-size: 800% 800%;
  min-height: calc(100vh);
  -webkit-animation: bg_grad 47s ease infinite;
  -moz-animation: bg_grad 47s ease infinite;
  animation: bg_grad 47s ease infinite;
}

@-webkit-keyframes bg_grad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes bg_grad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg_grad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  color: rgb(205, 58, 58);
  font-family: "Roboto Mono", monospace;
  margin:0;
}

nav {
  background-color: rgb(152, 148, 148);
  color: white;
  position: fixed;
  height: 100%;
  width: 30vh;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top {
  width: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  width: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul li {
  width: 25vh;
  padding: 2vh 0vh;
  margin-left: -6vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li:hover {
  cursor: pointer;
  background-color: rgb(117, 118, 119);
  color: white;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: gray;
  width: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: white;
}

main {
  background-color: #2888e7;
  width: 180vh;
  /* height: 100vh; */
  margin-left: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.mainbody {
  display: flex;
  flex-direction: column;
  width: auto;
  /* z-index: -10; */
  /* overflow-x: scroll;
  overflow-y: scroll; */
}
.mainbody2 {
  display: flex;
  flex-direction: row;
  width: auto;
  /* z-index: -10; */
  /* overflow-x: scroll;
  overflow-y: scroll; */
}

.rows {
  /* width: 150vh; */
  /* border: 1px solid grey; */
  width: auto;
  display: flex;
}

.cells {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 60px;
  width: 130px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 5vh;
  width: 100px;
}

.add {
  cursor: pointer;
  /* z-index: 0; */
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cont1 {
  position: absolute;
  display: none;
  height: 40vh;
  /* border: 2px solid red; */
  background-color: rgb(177, 181, 184);
  align-items: center;
  justify-content: center;
  z-index: 100;
  margin-left: -33vh;
  width: 47vh;
  margin-top: 50vh;
  border-radius: 10px;
}

.cont1 input {
  width: 40vh;
  /* height: 4vh; */
  border-radius: 10px;
  margin: 2vh 0vh;
  padding: 2vh;
}

.close {
  cursor: pointer;
}

.icon {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(-50%, -50%);
  width: 80px;
  height: 60px;
  /* cursor: pointer; */
}

.icon2 {
  /* border: 2px solid red; */
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(-50%, -50%);
  width: 80px;
  height: 60px;
  /* cursor: pointer; */
}

.arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  animation: arrow 700ms linear infinite;
  margin-top: 10vh;
  margin-left: 60vh;
  cursor: pointer;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: #fff;
}

.arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.arrow2 {
  transform: rotate(180deg);
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  animation: arrow2 700ms linear infinite;
  margin-top: 10vh;
  margin-left: -38vh;
  cursor: pointer;
}

.arrow2::after,
.arrow2::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: #fff;
}

.arrow2::after {
  top: -12px;
  transform: rotate(45deg);
}

.arrow2::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.aux {
  display: flex;
  /* margin-top: 15vh; */
}

.cell_block {
  display: none;
  background-color: rgb(255, 255, 255);
  height: 60px;
  width: 130px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.btndiv{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.div1 {
  /* border: 2px solid red; */
  height: fit-content;
  /* width: 25%; */
  width: fit-content;
  /* display: flex;
  flex-direction: row; */
}

.div2 {
  /* border: 2px solid green; */
  /* min-height: calc(100vh - 2em - 4px); */
  height: fit-content;
  width: 60%;
  /* width: fit-content; */
  
  overflow-x: auto;
}
.div2i{
  height: auto;
  /* margin: 30px; */
  /* background-color: rgb(223, 126, 126); */
  width: fit-content;
  flex-direction: row;
}
.div3 {
  /* border: 2px solid blue; */
  width: fit-content;
  height: fit-content;
  /* width: 15%; */
}