@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

.cont1 {
  display: flex;
  /* width: 64vh; */
  flex-direction: column;
  border: 2px solid black;
  border-radius: 17px;
  padding: 30px;
  background-color: rgb(235, 233, 243);
  width: auto;
}

.drop {
  color: rgb(105, 105, 105);
  background-color: aliceblue;
  box-shadow: 0px 16px 16px rgb(0 0 0 / 9%);
  border-radius: 4px;
  margin: 10px 0px;
  height: 6vh;
}

.submitid {
  background-color: #21ca46;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 25px 4px;
  cursor: pointer;
}

.prof {
  display: flex;
  width: 30vh;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 17px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 233, 243);
  color: black;
  font-weight: bolder;
}

.lorem {
  margin-top: 25px;
}

.im {
  width: 25vh;
}

#hov2 {
  position: absolute;
  display: none;
  z-index: 100;
  width: 30vh;
  /* flex-direction: column; */
  border: 2px solid black;
  border-radius: 17px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
